<!-- <div class="col-lg-12">
            {% if services_search %}
             <div class="form-group">
             <div class="search-dropdown" id="new-order-search" style="position: relative;" data-lang-placeholder="{{ lang('general.search.placeholder') }}" {% if site['rtl'] %} data-dir="rtl" {% endif %}>
                  <div class="input-wrapper" style="position: relative;">
                    <button style="position: absolute;top: 50%;transform: translateY(-50%);padding: 0px 2px;background: none;border: none;{% if site['rtl'] %}right: 12px;left: auto;{% else %}left: 12px;{% endif %}" type="button">
                        <span class="fas fa-search"></span>
                    </button>
                    <input type="text" class="form-control" id="template-input" value="" placeholder="{{ lang('general.search.placeholder') }}">
                  </div>
                </div>
              </div>
            {% endif %}
            </div> -->

<html lang="zxx">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>New order</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta name="MobileOptimized" content="320" />

    <!--Start Style -->

    <!-- <link rel="stylesheet" type="text/css" href="assets/css/fonts.css" /> -->
    <link
      rel="stylesheet"
      type="text/css"
      href="assets/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="assets/css/font-awesome.min.css"
    />
    <link rel="stylesheet" type="text/css" href="assets/css/icofont.min.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/custom-style.css" />

    <link
      href="https://site-assets.fontawesome.com/releases/v6.1.1/css/all.css"
      rel="stylesheet"
      type="text/css"
      media="all"
    />
    <link
      href="assets/css/1n8wfab30fbtwdfo.css"
      rel="stylesheet"
      type="text/css"
      media="all"
    />

    <!-- Favicon Link -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      rel="stylesheet"
    />
    <script
      defer=""
      src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"
    ></script>
  </head>

  <body class="clear body-bg">
    <!-- Main Body -->
    <div class="page-wrapper">
      <!-- Header Start -->
      <header class="header-wrapper main-header">
        <div class="header-inner-wrapper">
          <div class="header-right">
            <div class="header-left">
              <div class="header-links">
                <a href="javascript:void(0);" class="toggle-btn">
                  <span></span>
                </a>
              </div>
            </div>

            <ul>
              <li>
                <a href="{{ page_url('account') }}">
                  <i class="fas fa-cog"></i> Settings
                </a>
              </li>
              <li>
                <a href="{{ page_url('logout') }}">
                  <i class="fas fa-sign-out-alt"></i> Logout
                </a>
              </li>
            </ul>

            <div class="header-controls">
              <div style="display: flex; align-items: center">
                <div>
                  <a
                    class="header-text"
                    style="margin-right: 50px; font-weight: 600"
                    href=""
                    >New Order</a
                  >
                </div>
                <div>
                  <a
                    class="header-text"
                    style="margin-right: 50px; font-weight: 600"
                    href=""
                    >Add Funds</a
                  >
                </div>
                <div>
                  <a
                    class="header-text"
                    style="margin-right: 50px; font-weight: 600"
                    href=""
                    >Orders</a
                  >
                </div>
                <div>
                  <a
                    class="header-text"
                    style="margin-right: 50px; font-weight: 600"
                    href=""
                    >Tickets</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
    </div>

    <!-- Sidebar Start -->
    <aside class="sidebar-wrapper">
      <div class="logo-wrapper header1-logo">
        <a href="/" class="admin-logo">
          <img
            src="https://smmdesign.shop/globalsmm/assets/img/logo2.webp"
            alt=""
            class="sp_mini_logo"
          /> </a
        ><a href="/" class="logo-bb"
          ><img
            src="https://smmdesign.shop/globalsmm/assets/img/logo2.webp"
            alt="logo-img"
        /></a>
        <a href="/" class="logo-bw"
          ><img
            src="https://smmdesign.shop/globalsmm/assets/img/logo.webp"
            alt="logo-img"
        /></a>
      </div>
      <div class="side-menu-wrap active">
        <div
          style="
            background-image: linear-gradient(183deg, #e41893, #420955);
            align-items: center;
            margin: 20px 40px 20px 40px;
            padding: 10px 40px 10px 40px;
            border-radius: 12px;
          "
        >
          <center>
            <h5 style="color: #fff">Your balance</h5>
            <h4 class="ad-card-title" style="color: #fff">$0</h4>
          </center>
        </div>
        <ul class="main-menu in">
          <li class="active">
            <a href="/" class="post-text active" itemprop="text">
              <span class="icon-menu feather-icon">
                <i class="navbar-icon fa-regular fa-basket-shopping"></i>
              </span>

              <span class="menu-text"> New order </span>
            </a>
          </li>
          <li>
            <a href="/massorder" itemprop="text">
              <span class="icon-menu feather-icon">
                <i class="navbar-icon fa-regular fa-box-heart"></i>
              </span>

              <span class="menu-text"> Mass order </span>
            </a>
          </li>
          <li>
            <a href="/orders" itemprop="text">
              <span class="icon-menu feather-icon">
                <i class="navbar-icon fa-regular fa-box-circle-check"></i>
              </span>

              <span class="menu-text"> Orders </span>
            </a>
          </li>
          <li>
            <a href="/services" itemprop="text">
              <span class="icon-menu feather-icon">
                <i class="navbar-icon fa-regular fa-cart-arrow-down"></i>
              </span>

              <span class="menu-text"> Services </span>
            </a>
          </li>
          <li>
            <a href="/addfunds" itemprop="text">
              <span class="icon-menu feather-icon">
                <i class="navbar-icon fa-regular fa-wallet"></i>
              </span>

              <span class="menu-text"> Add funds </span>
            </a>
          </li>
          <li>
            <a href="/api" itemprop="text">
              <span class="icon-menu feather-icon">
                <i class="navbar-icon fa-regular fa-code"></i>
              </span>

              <span class="menu-text"> API </span>
            </a>
          </li>
          <li>
            <a href="/affiliates" itemprop="text">
              <span class="icon-menu feather-icon">
                <i class="navbar-icon fa-regular fa-user-group-crown"></i>
              </span>

              <span class="menu-text"> Affiliates </span>
            </a>
          </li>
          <li>
            <a href="/updates" itemprop="text">
              <span class="icon-menu feather-icon">
                <i class="navbar-icon fa-regular fa-chart-mixed"></i>
              </span>

              <span class="menu-text"> Updates </span>
            </a>
          </li>
          <li>
            <a href="/giveaway" itemprop="text">
              <span class="icon-menu feather-icon">
                <i class="navbar-icon far fa-gift"></i>
              </span>

              <span class="menu-text"> Giveaway </span>
            </a>
          </li>
        </ul>
      </div>
    </aside>

    <div class="page-wrapper">
      <div class="main-content">
        
        <div class="row">
          <div
          class="mobile-nav"
          style="
            background-image: linear-gradient(183deg, #e41893, #420955);
            align-items: center;
            margin: 10px 50px 10px 50px;
            padding: 10px 20px 10px 20px;
            border-radius: 12px;
          "
        >
          <div class="col-xl-3 col-lg-4 col-md-6">
            <ul>
            <center>
            <li><i class="navbar-icon fa-solid fa-basket-shopping"></i></li>
             <li> <a
                class="header-text"
                style="margin-right: 10px; font-weight: 600"
                href="{{ page_url('neworder') }}"
              >
                New Order</a
              ></li>
            </center>
            </ul>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-6">
            <ul>
            <center>
            <li><i class="navbar-icon fa-solid fa-wallet"></i></li>
            <a
              class="header-text"
              style="margin-right: 10px; font-weight: 600"
              href="{{ page_url('addfunds') }}"
              >Add Funds</a
            ></li>
             
            </center>
            </ul>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-6">
            <ul>
            <center>
            <li><i class="navbar-icon fa-solid fa-box-circle-check"></i></li>
           <li> <a
              class="header-text"
              style="margin-right: 10px; font-weight: 600"
              href="{{ page_url('orders') }}"
              >Orders</a
            ></li>
            </center>
            </ul>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-6">
            <ul>
            <center>
            <li><i class="navbar-icon fa-solid fa-ticket"></i></li>
            <li><a
              class="header-text"
              style="margin-right: 10px; font-weight: 600"
              href="{{ page_url('tickets') }}"
              >Tickets</a
            ></li>
            </center>
            </ul>
          </div>
        </div>
        
          <div class="col-xl-3 col-lg-4 col-md-6">
            <div class="card ad-info-card" style="margin-bottom: 10px">
              <div class="card-body dd-flex align-items-center informationcard">
                <div class="icon-info feature-icon d-inline-block">
                  <i
                    class="fa-duotone fa-wallet text-danger fa-2x"
                    style="color: #ffffff !important"
                  ></i>
                </div>
                <div class="icon-info-text">
                  <h5 class="stattext">Your balance</h5>
                  <h4 class="ad-card-title">$0</h4>
                </div>
              </div>
            </div>
          </div>

          <!-- Start Card -->
          <div class="col-xl-3 col-lg-6 col-md-6">
            <div class="card ad-info-card" style="margin-bottom: 10px">
              <div class="card-body dd-flex align-items-center informationcard">
                <div class="icon-info feature-icon d-inline-block">
                  <i
                    class="fa-duotone fa-cart-arrow-up text-danger fa-2x"
                    style="color: #ffffff !important"
                  ></i>
                </div>
                <div class="icon-info-text">
                  <h5 class="stattext">Total orders</h5>
                  <h4 class="ad-card-title">29680471</h4>
                </div>
              </div>
            </div>
          </div>

          <!-- Start Card -->
          <div class="col-xl-3 col-lg-6 col-md-6">
            <div class="card ad-info-card" style="margin-bottom: 10px">
              <div class="card-body dd-flex align-items-center informationcard">
                <div class="icon-info feature-icon d-inline-block">
                  <i
                    class="fa-duotone fa-coins text-danger fa-2x"
                    style="color: #ffffff !important"
                  ></i>
                </div>
                <div class="icon-info-text">
                  <h5 class="stattext">Spent on orders</h5>
                  <h4 class="ad-card-title">0</h4>
                </div>
              </div>
            </div>
          </div>

          <!-- Start Card -->
          <div class="col-xl-3 col-lg-6 col-md-6">
            <div class="card ad-info-card" style="margin-bottom: 10px">
              <div class="card-body dd-flex align-items-center informationcard">
                <div class="icon-info feature-icon d-inline-block">
                  <i
                    class="fa-duotone fa-user-large text-danger fa-2x"
                    style="color: #ffffff !important"
                  ></i>
                </div>
                <div class="icon-info-text">
                  <h5 class="stattext">Your username</h5>
                  <h4 class="ad-card-title">sooreoluwa</h4>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-xl-6 col-lg-12 col-md-12">
              <div class="card chart-card">
                <div
                  class="card-header mfh-machine-profile"
                  style="padding: 8px 12px !important"
                >
                  <ul class="nav cstmnav gap-2 mt-2">
                    <li>
                      <a href="javascript:void(0)" class="active"
                        ><i class="fa-regular fa-basket-shopping"></i>&nbsp; New
                        order
                      </a>
                    </li>
                    <li style="margin-left: 5px">
                      <a
                        href="javascript:void(0)"
                        onclick="filterCat('')"
                        class="btn-fav"
                        ><i
                          class="fa-regular fa-heart"
                          style="
                            color: #d30044;
                            text-shadow: 0 3px 37px 0 rgb(211 0 68);
                            text-shadow: #ff0552 3px 3px 15px;
                          "
                        ></i
                        >&nbsp; Favorites
                      </a>
                    </li>
                  </ul>
                </div>
                 <div class="card-body">
                  <div class="form-group nPlatform">
                    <div class="center">
                      <div id="social-test">
                        <ul class="social">
                          <li>
                            <a
                              href="javascript:void(0);"
                              onclick="filterCat('')"
                              class="allsocset"
                            >
                              ALL</a
                            >
                          </li>
                          <li>
                            <a
                              href="javascript:void(0);"
                              onclick="filterCat('Telegram')"
                              class="fittelegram"
                              ><i
                                class="fab fa-telegram-plane"
                                aria-hidden="true"
                              ></i
                            ></a>
                          </li>
                          <li>
                            <a
                              href="javascript:void(0);"
                              onclick="filterCat('Instagram')"
                              class="fitinst"
                              ><i
                                class="fab fa-instagram"
                                aria-hidden="true"
                              ></i
                            ></a>
                          </li>
                          <li>
                            <a
                              href="javascript:void(0);"
                              onclick="filterCat('YouTube')"
                              class="fityotube"
                              ><i class="fab fa-youtube" aria-hidden="true"></i
                            ></a>
                          </li>
                          <li>
                            <a
                              href="javascript:void(0);"
                              onclick="filterCat('Twitter')"
                              class="fittwit"
                              ><i class="fab fa-twitter" aria-hidden="true"></i
                            ></a>
                          </li>
                          <li>
                            <a
                              href="javascript:void(0);"
                              onclick="filterCat('TikTok')"
                              class="fittiktok"
                              ><i class="fab fa-tiktok"></i
                            ></a>
                          </li>
                          <li>
                            <a
                              href="javascript:void(0);"
                              onclick="filterCat('VK')"
                              class="fitvkontakte"
                              ><i class="fab fa-vk"></i
                            ></a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <form
                    action="/"
                    class="form-border"
                    method="post"
                    id="order-form"
                  >
                    <div class="col-md-12">
                      <div class="row">
                        <div class="col-md-12"></div>

                        <div class="col-lg-12">
                          <div class="form-group nCategory">
                            <label for="orderform-category">Category</label>
                            <select
                              style="display: none"
                              class="form-control js-example-basic-single formnew imagebacked"
                              id="orderform-category"
                              id="quality"
                              name="OrderForm[category]"
                              data-select-search="true"
                              data-select-search-placeholder="Search"
                            >
                              <option value="9807" selected>
                                Referrals for Telegram Bot games (invite
                                friends)
                              </option>
                              <option value="5249">
                                Telegram Premium Members From search l Base #1 l
                                Search Optimization🌟🌟🌟
                              </option>
                              <option value="4973">
                                Telegram Premium Members l Base #2 l Search
                                Optimization⭐️⭐️⭐️
                              </option>
                              <option value="7660">
                                Telegram Premium Members l Base #3 l Search
                                Optimization💎💎💎
                              </option>
                              <option value="9107">
                                Telegram Premium Members From search l Base #1 l
                                Search Optimization l Subscribers without post
                                views🌟🌟🌟
                              </option>
                              <option value="388">
                                The Best Offer From Telegram Provider💎💎💎
                              </option>
                              <option value="2210">
                                Best Offer l Telegram Members NonDrop and
                                other🔥🔥🔥
                              </option>
                              <option value="8846">
                                Target Offer Telegram Members
                              </option>
                              <option value="6894">Telegram Bot Start🤖</option>
                              <option value="178">Telegram Post Views📊</option>
                              <option value="9591">
                                Telegram Targeted Views📊
                              </option>
                              <option value="1">Instagram Followers</option>
                              <option value="312">
                                Instagram Followers l Non Drop l AutoRefill /
                                Refill ♻️
                              </option>
                              <option value="9734">
                                Instagram Followers: Own Fast Base🔥🔥🔥
                              </option>
                              <option value="9174">
                                Instagram Followers: Own Fast Base #2🔥🔥🔥
                              </option>
                              <option value="2">Instagram Likes💖</option>
                              <option value="3">Auto-Likes Instagram💖</option>
                              <option value="4">Instagram views🎦</option>
                              <option value="25">Auto-Vews Instagram🎦</option>
                              <option value="22">Indian Services 🇮🇳</option>
                              <option value="5">
                                Instagram Impressions / Saves / Reach / Profile
                                visits💎
                              </option>
                              <option value="6">Instagram Story💥</option>
                              <option value="7">Instagram Comments❣️</option>
                              <option value="17">
                                Telegram Channel/Group Members
                              </option>
                              <option value="277">
                                Telegram Channel/Group Members - Non Drop /
                                Refill♻️
                              </option>
                              <option value="709">
                                Real Post Views - [Include Static]📊
                              </option>
                              <option value="348">
                                Telegram Reactions💬👍
                              </option>
                              <option value="386">Telegram Share Post</option>
                              <option value="427">
                                Telegram Bot Start - Country Targeted🤖
                              </option>
                              <option value="428">
                                Telegram Comments💬 & Vote 🗳
                              </option>
                              <option value="8">YouTube - Subscribers</option>
                              <option value="9">Youtube - Views⭐</option>
                              <option value="1863">
                                YouTube - Live Streaming
                              </option>
                              <option value="10">YouTube - Likes⭐</option>
                              <option value="10953">Rutube</option>
                              <option value="12">TikTok🔷</option>
                              <option value="9379">
                                Tiktok Likes Target🔷
                              </option>
                              <option value="9449">
                                TikTok Live Stream Views🔷
                              </option>
                              <option value="16">Twitter♛</option>
                              <option value="13">
                                Vkontakte - Subscribers to the Profil / Group \
                                Public❌
                              </option>
                              <option value="15">
                                VKontakte - Likes | Reposts | Other❌
                              </option>
                              <option value="21">Private🏷️</option>
                            </select>
                            <div class="dropdown newselect">
                              <button
                                class="form-control text-left"
                                type="button"
                                id="dropdownMenu3"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false"
                              >
                                <span id="order-category"></span>
                                <i
                                  class="fas fa-angle-down float-right"
                                  aria-hidden="true"
                                ></i>
                              </button>
                              <div
                                class="dropdown-menu"
                                aria-labelledby="dropdownMenu3"
                                id="category-drop"
                              ></div>
                            </div>
                          </div>
                        </div>

                        <div class="col-lg-12">
                          <div class="form-group nServices">
                            <label class="control-label" for="service"
                              >Service</label
                            >
                            <select
                              id="orderform-service"
                              class="form-control js-example-basic-single formnew"
                              id="service"
                              name="OrderForm[service]"
                              style="display: none"
                            ></select>
                            <div class="dropdown newselect">
                              <button
                                class="form-control text-left"
                                type="button"
                                id="order-dd"
                                data-toggle="dropdown"
                                aria-haspopup="false"
                                aria-expanded="false"
                              >
                                <span id="order-services"></span>
                                <i
                                  class="fas fa-angle-down float-right"
                                  aria-hidden="true"
                                ></i>
                              </button>
                              <div
                                class="dropdown-menu"
                                aria-labelledby="order-dd"
                                id="orders-drop"
                              ></div>
                            </div>
                          </div>
                        </div>

                        <div class="col-lg-12">
                          <div id="fields" style="width: 100%"></div>
                        </div>
                        <div class="col-lg-12">
                          <div class="form-group">
                            <label class="control-label" for="charge"
                              >Charge</label
                            >
                            <input
                              type="text"
                              class="form-control js-example-basic-single formnew"
                              id="charge"
                              value=""
                              readonly
                            />
                          </div>
                        </div>

                        <div
                          class="col-lg-12"
                          style="margin-bottom: 30px"
                        ></div>
                        <div class="col-lg-6">
                          <div class="form-group">
                            <input
                              type="hidden"
                              name="_csrf"
                              value="poO-2SedMogbLu6mZR5ZyI_iiL6i4FszZd-VolSwQXeU5ei6Zclg_nZgu84mV2_77qD87-XWNlgEkq3ANdwtHA=="
                            />
                            <button type="submit" class="fill-btn">
                              Submit
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>

            <div class="col-xl-6 col-lg-12 col-md-12">
              <div class="card chart-card">
                <div class="card-header">
                  <h6 class="has-btn">Information</h6>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12">
                      <div class="form-group">
                        <div
                          class="search-dropdown"
                          id="new-order-search"
                          style="position: relative"
                          data-lang-placeholder="Search"
                        >
                          <div class="input-wrapper" style="position: relative">
                            <button
                              style="
                                position: absolute;
                                top: 50%;
                                transform: translateY(-50%);
                                padding: 0px 2px;
                                background: none;
                                border: none;
                                left: 12px;
                              "
                              type="button"
                            >
                              <span class="fas fa-search"></span>
                            </button>
                            <input
                              type="text"
                              class="form-control"
                              id="template-input"
                              value=""
                              placeholder="Search"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12">
                      <div class="revenue-wrapper">
                        <div
                          class="desc_service mb20 fields"
                          id="service_description"
                        >
                          <div class="desc"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>

    <footer>
      <div class="ad-footer-btm">
        <p>Copyright ©️ 2018-2022 | All Rights Reserved.</p>
      </div>

      <div class="bs-toast" style="display: none">
        <div class="bs-toast-content">
          <div class="toast-text">Copied to the clipboard!</div>
          <button class="toast-times" onclick="removeToast();">
            <i class="fas fa-times"></i>
          </button>
        </div>
      </div>
    </footer>
  </body>
  <script src="assets/js/a4nzk5imy3lzl5fr.js"></script>
  <script src="assets/js/jquery-3.6.0.min.js"></script>
  <script src="assets/js/popper.min.js"></script>
  <script src="assets/js/bootstrap.min.js"></script>
  <script src="assets/js/swiper.min.js"></script>

  <!-- Page Specific -->
  <script src="assets/js/nice-select.min.js"></script>

  <!-- Custom Script -->
  <script src="assets/js/custom.js"></script>

  <script
    type="text/javascript"
    src="https://cdn.mypanel.link/libs/jquery/1.12.4/jquery.min.js"
  ></script>
  <script
    type="text/javascript"
    src="https://cdn.mypanel.link/global/7h21x4werz0q1pt3.js"
  ></script>
  <script
    type="text/javascript"
    src="https://cdn.mypanel.link/global/h7t2naiks20h6fkd.js"
  ></script>
  <script
    type="text/javascript"
    src="https://cdn.mypanel.link/global/pkex2quykrn8pu51.js"
  ></script>
  <script
    type="text/javascript"
    src="https://cdn.mypanel.link/global/jhuwf8mskchttrqz.js"
  ></script>
  <script
    type="text/javascript"
    src="https://cdn.mypanel.link/global/mg9yta292ey2firc.js"
  ></script>
  <script
    type="text/javascript"
    src="https://cdn.mypanel.link/global/jccyp5zeh768l03w.js"
  ></script>

  <script type="text/javascript">
    window.modules.layouts = {
      theme_id: 2,
      auth: 1,
      live: true,
      csrftoken:
        "poO-2SedMogbLu6mZR5ZyI_iiL6i4FszZd-VolSwQXeU5ei6Zclg_nZgu84mV2_77qD87-XWNlgEkq3ANdwtHA==",
    };
  </script>

  <script type="text/javascript" src="assets/js/zof8t6ujp700717b.js"></script>

  <script>
    function ikon(opt) {
      var ikon = "";
      if (opt.indexOf("Instagram") >= 0) {
        ikon =
          '<span class="ico-ig"><i class="fab fa-instagram" aria-hidden="true"></i> </span>';
      } else if (opt.indexOf("IGTV") >= 0) {
        ikon =
          '<span class="ico-ig"><i class="fab fa-instagram" aria-hidden="true"></i> </span>';
      } else if (opt.indexOf("Facebook") >= 0) {
        ikon =
          '<span class="ico-fb"><i class="fab fa-facebook-square" aria-hidden="true"></i> </span>';
      } else if (opt.indexOf("Youtube") >= 0) {
        ikon =
          '<span class="ico-yt"><i class="fab fa-youtube" aria-hidden="true"></i> </span>';
      } else if (opt.indexOf("YouTube") >= 0) {
        ikon =
          '<span class="ico-yt"><i class="fab fa-youtube" aria-hidden="true"></i> </span>';
      } else if (opt.indexOf("Twitter") >= 0) {
        ikon =
          '<span class="ico-tw"><i class="fab fa-twitter" aria-hidden="true"></i> </span>';
      } else if (opt.indexOf("Google") >= 0) {
        ikon =
          '<span class="ico-gp"><i class="fab fa-google-plus" aria-hidden="true"></i> </span>';
      } else if (opt.indexOf("Soundcloud") >= 0) {
        ikon =
          '<span class="ico-sc"><i class="fab fa-soundcloud" aria-hidden="true"></i> </span>';
      } else if (opt.indexOf("Spotify") >= 0) {
        ikon =
          '<span class="ico-sp"><i class="fab fa-spotify" aria-hidden="true"></i> </span>';
      } else if (opt.indexOf("Telegram") >= 0) {
        ikon =
          '<span class="ico-tele"><i class="fa fa-paper-plane" aria-hidden="true"></i> </span>';
      } else if (opt.indexOf("Pinterest") >= 0) {
        ikon =
          '<span class="ico-pt"><i class="fab fa-pinterest-p" aria-hidden="true"></i> </span>';
      } else if (opt.indexOf("Twitch") >= 0) {
        ikon =
          '<span class="ico-twc"><i class="fab fa-twitch" aria-hidden="true"></i> </span>';
      } else if (opt.indexOf("Tik") >= 0) {
        ikon =
          '<span class="ico-tic"><i class="fab fa-tiktok" aria-hidden="true"></i> </span>';
      } else if (opt.indexOf("Web") >= 0) {
        ikon =
          '<span class="ico-web"><i class="fas fa-globe" aria-hidden="true"></i> </span>';
      } else if (opt.indexOf("Diğer") >= 0) {
        ikon =
          '<span class="ico-dgr"><i class="fas fa-stream" aria-hidden="true"></i> </span>';
      } else if (opt.indexOf("Clubhouse") >= 0) {
        ikon =
          '<span class="ico-dgr"><i class="fa fa-thumbs-up" aria-hidden="true"></i> </span>';
      } else if (opt.indexOf("Soundcloud") >= 0) {
        ikon =
          '<span class="ico-sc"><i class="fab fa-soundcloud" aria-hidden="true"></i> </span>';
      } else if (opt.indexOf("SoundCloud") >= 0) {
        ikon =
          '<span class="ico-sc"><i class="fab fa-soundcloud" aria-hidden="true"></i> </span>';
      } else if (opt.indexOf("Spotify") >= 0) {
        ikon =
          '<span class="ico-sp"><i class="fab fa-spotify" aria-hidden="true"></i> </span>';
      } else if (opt.indexOf("Telegram") >= 0) {
        ikon =
          '<span class="ico-tele"><i class="fab fa-telegram" aria-hidden="true"></i> </span>';
      } else if (opt.indexOf("Reddit") >= 0) {
        ikon =
          '<span ><i class="fab fa-reddit-alien" aria-hidden="true"></i> </span>';
      } else if (opt.indexOf("Linkedin") >= 0) {
        ikon =
          '<span class="ico-pt"><i class="fab fa-linkedin" aria-hidden="true"></i> </span>';
      } else if (opt.indexOf("Worldwide") >= 0) {
        ikon =
          '<span class="ico-pt"><i class="fas fa-globe" aria-hidden="true"></i> </span>';
      } else if (opt.indexOf("Traffic") >= 0) {
        ikon =
          '<span class="ico-pt"><i class="fas fa-globe" aria-hidden="true"></i> </span>';
      } else if (opt.indexOf("VK") >= 0) {
        ikon =
          '<span class="ico-pt"><i class="fab fa-vk" aria-hidden="true"></i> </span>';
      } else if (opt.indexOf("Vk") >= 0) {
        ikon =
          '<span class="ico-pt"><i class="fab fa-vk" aria-hidden="true"></i> </span>';
      } else if (opt.indexOf("Вк") >= 0) {
        ikon =
          '<span class="ico-pt"><i class="fab fa-vk" aria-hidden="true"></i> </span>';
      } else if (opt.indexOf("Odnoklassniki") >= 0) {
        ikon =
          '<span class=""><i class="fab fa-odnoklassniki" aria-hidden="true"></i> </span>';
      } else if (opt.indexOf("Ok.ru") >= 0) {
        ikon =
          '<span class=""><i class="fab fa-odnoklassniki" aria-hidden="true"></i> </span>';
      } else if (opt.indexOf("SosyalCennet") >= 0) {
        ikon =
          '<span class="ico-kamp"><i class="fab fa-hotjar" aria-hidden="true"></i> </span>';
      } else {
        ikon =
          '<!---<span class=""><i class="far fa-star" aria-hidden="true"></i> </span>  -->';
      }

      return ikon;
    }

    function setList(val) {
      if (val == 0) {
        $("#orders-drop").empty();
        $("#orderform-service option").each(function () {
          var ico = ikon($(this).text());
          $("#orders-drop").append(
            '<button id="order-sItem" class="dropdown-item" type="button" onclick="selectOrder(' +
              $(this).val() +
              ')">' +
              ico +
              $(this).text() +
              "</button>"
          );
        });
        var e = document.getElementById("orderform-service");
        var selected = e.options[e.selectedIndex].text;
        var ico = ikon(selected);
        var a = document.getElementById("orderform-service").value;
        $("#order-services").html(ico + selected);
      } else if (val == 1) {
        $("#category-drop").empty();
        $("#orderform-category option").each(function () {
          var ico = ikon($(this).text());
          $("#category-drop").append(
            '<button id="order-cItem" class="dropdown-item" type="button" onclick="selectCategory(' +
              $(this).val() +
              ')">' +
              ico +
              $(this).text() +
              "</button>"
          );
        });

        var e = document.getElementById("orderform-category");
        var selected = e.options[e.selectedIndex].text;
        var ico = ikon(selected);
        $("#order-category").html(ico + selected);
      }
    }

    function selectOrder(val) {
      $("#orderform-service").val(val);
      $("#orderform-service").trigger("change");
      var ico = ikon(
        $("#orderform-service option[value='" + val + "']").text()
      );
      $("#order-services").html(
        ico + $("#orderform-service option[value='" + val + "']").text()
      );
    }
    $("#order-sItem").click(function () {
      $("#order-services").html($(this).html());
    });

    function selectCategory(val) {
      $("#orderform-category").val(val);
      $("#orderform-category").trigger("change");
      var ico = ikon(
        $("#orderform-category option[value='" + val + "']").text()
      );
      $("#order-category").html(
        ico + $("#orderform-category option[value='" + val + "']").text()
      );
    }

    function chk() {
      var a = document.getElementById("orderform-service").value;
      document.getElementById("span_sh").textContent = "ID : " + a;
      // alert("ID : "+ a );
    }

    function filterCat(social) {
      $("#category-drop").empty();
      var keyword = social;
      var select = document.getElementById("orderform-category");
      var select_serv = document.getElementById("orderform-service");
      var stop = 0;
      var stopserv = 0;

      for (var i = 0; i < select.length; i++) {
        var txt = select.options[i].text;
        if (!txt.match(keyword)) {
          $(select.options[i]).attr("disabled", "disabled").hide();
        } else {
          $(select.options[i]).removeAttr("disabled").show();
          if (stop == 0) selectCategory(select.options[i].value);
          stop++;

          var ico = ikon(select.options[i].text);
          $("#category-drop").append(
            '<button id="order-cItem" class="dropdown-item" type="button" onclick="selectCategory(' +
              select.options[i].value +
              ')">' +
              ico +
              select.options[i].text +
              "</button>"
          );
        }
      }
    }

    setTimeout(setList(1), 100);
    $("#orderform-service").change(function () {
      setList(0);
    });
    
  </script>

  <script>
    function getUrlParameter(sParam) {
      var sPageURL = decodeURIComponent(window.location.search.substring(1));
      var sURLVariables = sPageURL.split("&");
      var sParameterName;
      var i;
      for (i = 0; i < sURLVariables.length; i++) {
        sParameterName = sURLVariables[i].split("=");
        if (sParameterName[0] === sParam) {
          return sParameterName[1] === undefined ? true : sParameterName[1];
        }
      }
    }

    var select_service_id = getUrlParameter("select_service_id");
    if (select_service_id) {
      var selectSerCatID =
        window.modules.siteOrder.services[select_service_id].cid;
      let orderCat = document.getElementById("orderform-category");
      let orderSer = document.getElementById("orderform-service");

      $(function () {
        $("#orderform-category").change(function () {
          setList(1);
        });
        orderCat.querySelector("[selected]");
        console.log(selectSerCatID);
        orderCat
          .querySelector('[value="' + selectSerCatID + '"]')
          .setAttribute("selected", "selected");
        orderCat.value = selectSerCatID;

        var event = document.createEvent("HTMLEvents");
        event.initEvent("change", true, false);
        orderCat.dispatchEvent(event);

        setTimeout(() => {
          let controlSel = orderSer.querySelector("[selected]");
          if (controlSel) {
            controlSel.removeAttribute("selected");
          }
          console.log(select_service_id);
          orderSer
            .querySelector('[value="' + select_service_id + '"]')
            .setAttribute("selected", "selected");
          orderSer.value = select_service_id;
          orderSer.dispatchEvent(event);
        }, 500);
      });
    }
  </script>

  <script>
    /*dark mood custom JS*/
    var toggleSlider = document.getElementById("slider");

    toggleSlider &&
      toggleSlider.addEventListener("change", (e) => {
        if (e.target.checked === true) {
          if (document.body.classList.contains("theme-dark-active")) {
            document.body.classList.add("theme-light-active");
            document.body.classList.remove("theme-dark-active");
            localStorage.setItem("activeTheme", "theme-light-active");
          } else if (document.body.classList.contains("theme-light-active")) {
            document.body.classList.add("theme-dark-active");
            document.body.classList.remove("theme-light-active");
            localStorage.setItem("activeTheme", "theme-dark-active");
          }
        }

        if (e.target.checked === false) {
          if (document.body.classList.contains("theme-light-active")) {
            document.body.classList.add("theme-dark-active");
            document.body.classList.remove("theme-light-active");
            localStorage.setItem("activeTheme", "theme-dark-active");
          } else if (document.body.classList.contains("theme-dark-active")) {
            document.body.classList.add("theme-light-active");
            document.body.classList.remove("theme-dark-active");
            localStorage.setItem("activeTheme", "theme-light-active");
          }
        }
      });

    var activeTheme = localStorage.getItem("activeTheme");
    if (activeTheme == "theme-dark-active") {
      document.body.classList.add("theme-dark-active");
      document.body.classList.remove("theme-light-active");
      $("input.check-status").prop("checked", false);
    } else {
      document.body.classList.add("theme-light-active");
      document.body.classList.remove("theme-dark-active");
      $("input.check-status").prop("checked", true);
    }
  </script>

  <script type="text/javascript">
    $(document).ready(function () {
      jQuery('td:contains("Premium")')
        .closest(".table-service")
        .addClass("idfaer21");
    });
  </script>

  <script type="text/javascript">
    $(document).ready(function () {
      jQuery('div:contains("Closed")')
        .closest(".newstatus77")
        .addClass("Closed");
      jQuery('div:contains("Pending")')
        .closest(".newstatus77")
        .addClass("Pending");
      jQuery('div:contains("Answered")')
        .closest(".newstatus77")
        .addClass("Answered");
    });
  </script>
</html>
