
           <div class="checkbox">
            <label>
              <input type="checkbox"  name="LoginForm[remember]" value="1" id="remember">{{lang('signin.remember_me')}}
            </label>
          </div>

          <div class="col-md-6 text-md-right">
              <span class="pull-right-middle">{{ lang('signin.text') }} <a href="{{ page_url('signup') }}">{{ lang('signup.title') }}</a></span>
            </div>







